.btnstart{
    margin-left: 700px;
}
.questions{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.options{
    display: flex;
    flex-direction: row;
    margin-left: 34%; 
}